@import './components/all';
@import './utils/settings';
@import './variables';

body {
    background: $bodyBg;
    font-family: $fontFamily, sans-serif;
    color: $fontColor;
}

.container {
    max-width: $containerWidth;
    margin: 0 auto;
    padding: 20px 15px;
}



  
  
  
  
  