@import "~normalize.css";

html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    scroll-behavior: smooth;
  }

  h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    padding: 0;
    margin: 0;
  }

  img {
    max-width: 100%;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  button {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  

