.benefits {
   grid-area: benefits;

   &__list {
      display: flex;
      flex-direction: column;
   }

   .benefits-item {
      display: flex;
      align-items: center;
      margin-top: 15px;

      &__img {
         margin-right: 10px;
      }

      &__title {
         font-size: 14px;
         line-height: 17px;
      }
   }

   @media only screen and (min-device-width : 408px) and (max-device-width : 760px) {
      &__list {
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 1fr 1fr;
      }
   }
}   