.product {
    grid-area: product;
    display: flex;
    justify-content: space-between;
    max-width: 435px;
    min-height: 125px;

    &__logo {
        width: 148px;
        height: 125px;
        margin-right: 15px;
    }

    .product-wrapper {
        display: flex;
        flex-direction: column;
    }

    .product-title {

        display: flex;
        margin-bottom: 10px;

        &__text {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
        }

        &__img {
            width: 17px;
            height: 17px;
            margin-right: 5px;
        }
    }

    &__cost {
        font-size: 24px;
        line-height: 28px;
        color: #313446;
        font-weight: 700;
    }

    &__description {
        margin-top: 10px;
        font-size: 14px;
        line-height: 20px;
    }

  
    @media only screen and (min-device-width : 408px) and (max-device-width : 760px) {

        border-bottom: 2px solid rgba(235, 236, 245, 0.6);

        &__logo {
            width: 72px;
            height: 60px;
            border-radius: 15px;
        } 

        &__description {
            margin-top: 10px;
            font-size: 12px;
            line-height: 14px;
        }
        
        &__cost {
            font-size: 18px;
            line-height: 21px;
        }

        .product-title { 
            display: none;
        }  
    }

}